{% extends 'adminpages/adminbase.html' %}
{% block title %} Change Password {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row" style="display:flex;justify-content:center;align-items:center;">
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Change Your Password!</h1>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                {{form | crispy}} <br>
                                <button class="btn btn-success btn-block" type="submit">Change</button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a href="{% url 'ecomm:adminhome' %}" class="small">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}