{% extends 'base.html' %}

{% block title %} Registration {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row" style="background:#ccc8c882;margin:60px 100px 100px 360px;height:500px;width:600px;padding:40px 0px 20px 0px;border-radius:20px">
            <div class="col-md-6 mx-auto">
                <h3> Registration Form</h3> <hr>
                <form action="" method="POST">
                    {% csrf_token %} 
                    {{form|crispy }} <br>
                    <button class="btn btn-primary">Register here</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}