{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

<div class="container">

</div>
{% block slider %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="height:500px";"width:auto";"overflow:hidden";"object-fit:cover">
      <img src="{% static 'app/images/banner/handicraft-slider-1.jpeg'%}" class="d-block w-100" alt="banner image" style="height:500px";"width:auto" >
    </div>
    <div class="carousel-item" style="height:500px";"width:auto";"overflow:hidden";"object-fit:cover">
      <img src="{% static 'app/images/banner/handicraft-slider-2.jpg'%}" class="d-block w-100" alt="banner image" style="height:500px";"width:auto">
    </div>
    <div class="carousel-item" style="height:500px";"width:auto";"overflow:hidden";"object-fit:cover">
      <img src="{% static 'app/images/banner/handicraft-slider-3.jpg'%}" class="d-block w-100" alt="banner image" style="height:500px";"width:auto">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock slider %}
{% block information %}
<div class="container">
  <div class="row text-center p-5 text-white border-bottom shadow"style="background-color:#4b4276;">
    <small class="fs-5">
      <h1>Products</h1>
      Discover unique, handcrafted treasures that celebrate tradition and artistry. Each piece is lovingly made by
      skilled artisans, ensuring quality and authenticity. Shop with us to support sustainable practices and bring
      home a touch of elegance and heritage.
    </small>
  </div>
</div>
{% endblock information %}
{% block content %}
<div class="container">
  <div class="row mt-3">
    {% for p in product_list %}
    <div class="col-md-3 mt-3 mb-3">
      <a href="{% url 'ecomm:productdetail' p.slug %}"><img src="{{p.image.url}}" alt="product image" height="200px"
          width="200px"></a>
      <h5><a href="{% url 'ecomm:productdetail' p.slug %}">{{p.title}}</a></h5>
      <p class="mt-1"><del>Rs.{{p.marked_price}}.00 </del> &nbsp;&nbsp;<b> Rs.&nbsp;{{p.selling_price}}.00</b></p>
      <a class="btn btn-success"  href="{% url 'ecomm:addtocart' p.id %}">Add to cart</a>
    </div>
    {% comment %}  {% endcomment %}
    {% endfor %}
  </div>
</div>
{% if messages %}
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
<script> alertify.set('notifier', 'position', 'top-right');
  alertify.success("product added successfully");
</script>

<script>
  function mess(){
    <script> alertify.set('notifier', 'position', 'top-right');
      alertify.success("product added successfully");
    </script>
  }
</script>
{% endif %}

{% endblock content %}