{% extends "base.html" %}
{% block title %}My cart{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>Items in my cart</h4>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.product.title}}</td>
                        <td>{{cp.rate}}</td>
                        <td><a href="{% url 'ecomm:managecart' cp.id %}?action=dcr" class="btn btn-light"
                                style="font-weight: bold;"> -
                            </a> {{cp.quantity}} <a href="{% url 'ecomm:managecart' cp.id %}?action=inc"
                                class="btn btn-light" style="font-weight: bold;"> + </a></td>
                        <td>{{cp.subtotal}}</td>
                        <td>
                            <a href="{% url 'ecomm:managecart' cp.id %}?action=rmv"> <i
                                    class="material-icons btn btn-light">&#xe872;</i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-end">Total</th>
                        <th>Rs. {{cart.total}}</th>
                        {% if cart.cartproduct_set.all %}
                        <th><a href="{% url 'ecomm:emptycart' %}" class="btn btn-danger">Empty cart</a></th>
                        {% endif %}
                    </tr>
                    {% if cart.cartproduct_set.all %}
                    <tr>
                        <th><a href="{% url 'ecomm:checkout' %}" class="btn btn-success">Buy now</a></th>
                    </tr>
                    {% endif %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock content %}