{% extends "base.html" %}
{% block title %} My Profile {% endblock %}
{% block content %}
<div class="container">
    
    <div class="row" style="background-color:smokey-white;" style="margin-left:400px" >
        {% if messages %}
            <p style="color:Green" style="margin-left:40%;height20px">
                {% for msg in messages %}
                {{msg}}
                {% endfor %}
            </p>
        {% endif %}
    </div>
    <div class="row" style="background:#ccc8c882;margin:40px 0px 20px 400px;height:550px;width:500px;padding:20px 0px 20px 20px;border-radius:20px">
        <div class="col-md-6 offset-md-3">
            <h3 style="text-align:center">Update Profile</h3> <hr>
            <br>
            <form method="POST" action="{% url 'ecomm:myprofile' %}">
                {% csrf_token %}
                <p>
                <label for="uname">User Name</label>
                <input type="text" name="uname" id="uname" value="{{current_user.user.username}}">
            </p>
            <p>
                <label for="name">Full Name</label>
                <input type="text" name="fullname" id="name" value="{{current_user.full_name}}"/>
            </p>
            <p>
                <label for="mobile">Mobile</label>
                <input type="tel" name="mobile" id="mobile" value="{{current_user.mobile}}">
            </p>
            <p>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="{{current_user.user.email}}">
            </p>
            <p>
                <label for="address">Address</label>
                <input type="text" name="address" id="address" value="{{current_user.address}}">
            </p>
                <input type="submit" value="Update Profile" class="btn btn-secondary" style="margin-left:20px">
            </form>
        </div>
    </div>
</div>

{% endblock content %}